*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.row::after{
    content: "";
    display: table;
    clear: both;

}

/* hedear */
header{
    background-color: #3161e0;
    padding-top: 10px;
    height: 100px;
}
.container{
    width: 80%;
    margin: 0 auto;
}

header .container{
    width: 80%;
    margin: 0 auto;
    position: relative;
}

nav{
    position: absolute;
    top: 0;
    left: 30%;
 
}

header nav ul li{
    display: inline;
    
   padding-right: 20px;
    
    
}
header nav ul li a{
    text-decoration: none;
    color: white;
    
    
}

#logoh{
    position: absolute;
    top: 0;
    left: 0;
}
#acces{
    color: black;
    background-color: white;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    text-align: center;
}

/* jumbotron */
#jumbo .container{
    width: 50%;
    margin: 0 auto;
}

#jumbo{
    width: 100%;
    height: 50vh;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
    text-align: center;
    
    z-index: 200;
}

#title{
    padding: 5px;
    font-size: 5vh;
    margin-bottom: 10px;
}

#subt{
    line-height: 20px;
    margin-bottom: 20px;
}

.pulsante{
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    
    

}

#black{
    color: white;
    background-color: black;
   
}
#white{
    background-color: white;
    color: black;
    margin-right: 10px;
}

/* sezioni */
.sezgrey{
    background-color: rgb(170, 170, 170);
        /* debug */
        height: 300px;
}

/* main section .container{
    width: 80%;
    margin: 0 auto 20;
} */

.clsx{
    width: 40%;
    float: left;
        /* debug */
        background-color: yellow ;
        height: 100px;
        margin-bottom: 20px;
        margin-top: 20px;
}

.cldx{
    width: 50%;
    float: left;
    margin-left: 10% ;
        /* debug */
        background-color: rgb(255, 51, 0) ;
        height: 100px;
        margin-bottom: 20px;
        margin-top: 20px;
}

    /* footer */
footer{
    background-color: rgb(32, 32, 32);
}

.clsocial{
    width: 20%;
    float: left;
    margin-right: 10% ;
        /* debug */
        background-color: rgb(0, 255, 170) ;
        height: 100px;
        margin-top: 20px;
}

.clvarie{
    width: 10%;
    float: left;
    margin-right: 5% ;
        /* debug */
        background-color: rgb(255, 196, 0) ;
        height: 100px;
        margin-top: 20px;

}

